.post{
    display: block;
    width: 100%;
    height: auto;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    justify-content: start;
    margin-top: 2%;
    margin-bottom: 2%;
}

.postWrapper{
    width: 32.7%;
    margin: 1px;
}

   

@media only screen and (min-width: 600px) {
    .post{
        width: 100%;
        height: auto;
    }
    
    .postWrapper{
        width: 200px;
    }
}
  
  @media screen and (min-width: 1000px) {
    .postWrapper {
      width: 400px;
    }
  }